/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 #logo {
 	font-size: 36px;
 	font-weight: 800;
 	text-transform: uppercase;
 	letter-spacing: 2px;
 	padding: 15px 0;
 	a {
 		color: #FFFFFF;
 	}
  a:hover, a:active {
    color: #00FFFF;
  }
  a:link {
    text-decoration: none;
  }
  background-color:#15317E;
 }

 #navbar{
   background-color:#15317E;
   a {
     color: #FFFFFF;
   }
   position: fixed;
     z-index: 10;
 }

 #main_content {
 	#content {
 		float: none;
 	}
 	padding-bottom: 100px;
 	.link {
 		padding: 2em 1em;
 		border-bottom: 2px solid #000000;
 		.title {

 			a {
 				color: #000000;
 			}
 		}
 	}
 	.comments_title {
 		margin-top: 2em;
 	}
 	#comments {
 		.comment {
 			padding: 1em 0;
 			border-top: 1px solid #E9E9E9;
 			.lead {
 				margin-bottom: 0;
 			}
 		}
 	}
 }
 #body {
   background-image: url("beach.jpg");
   background-repeat: no-repeat;
 }

 #link_title {
   a {
     color: #000000;
   }
   a:hover, a:active {
     color: white;
   }
   a:link {
     text-decoration: none;
   }
 }

#submitted_by {
  color: #0000A0;
}
#clear {
  background:rgba(0,0,0,0);
  border:none;
}
#black {
  a{
    color: #000000;
  }
}
